- var pageTitle = "Miguel Rivas"
- var site = "Miguel Rivas"
- var fbPreview = "https://miguel-rivas.github.io/img/portfolio.png"
- var icoPath = "https://miguel-rivas.github.io/img/favicon.png"
- var icoBackground = "#222"
- var description = "Web Designer Portfolio"
- var viewPort = true
- var imgSufix = "img/"
- var keyWords = "miguel, rivas, aguacatekun, aguacate, web, designer, frontend, developer, porfolio, santo, domingo, dominican, republic, united state, usa"


- var linkedin = "https://www.linkedin.com/in/miguel-rivas-b576bb74"
- var codepen = "http://codepen.io/casperu/"
- var portfolioA = "../portfolio_2014/"
- var portfolioC = "../portfolio/"


- var to_home = "../portfolioB/"
- var to_drlogic = "https://www.drlogic.com/"
- var to_apap = "../project/mineros/"
- var to_presidente = "http://presidente.com.do/carnaval/2015/home.php"
- var to_bpr = "https://www.bprbank.com/"