section.printBody
	.borderLine
	img.head(src="img/landing_head.png", alt="header")
	img.city(src="img/landing_mountains.png", alt="city")
	img.character(src="img/landing_giant_character.png", alt="character")
	img.qrCode(src="img/landing_qrcode.png", alt="code")
	img.cloudMiddle(src="img/landing_cloud_print.png", alt="cloud")
	img.cloudTop(src="img/landing_cloud.png", alt="cloud")